.theme-eclipse {
    --bg-primary: #010409;
    --bg-secondary: #0a0c10;
    --bg-tertiary: #13151a;

    --accent-primary: #ffd700;
    --accent-secondary: #ffc76b;
    --accent-tertiary: #f5f5f5;
    --accent-quaternary: #4d4d4d;
    --accent-success: #ffd700;
    --accent-warning: #ffae42;

    --text-primary: #e6edf3;
    --text-secondary: #cad5de;
    --text-highlight: #ffffff;
    --text-technical: #e6edf3;

    --glass-primary: rgba(10, 12, 16, 0.12);
    --glass-secondary: rgba(255, 215, 0, 0.25);
    --glass-tertiary: rgba(255, 174, 66, 0.1);
    --glass-accent: rgba(77, 77, 77, 0.1);
    
    --border-primary: rgba(255, 215, 0, 0.5);
    --border-secondary: rgba(230, 237, 243, 0.2);
    --border-accent: #ffffff;
    --border-hard: rgba(230, 237, 243, 0.8);
} 